<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Caju</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Generate your next .NET microservice!</h2>
    </div>
</header>
<!-- About Section -->
<section class="bg-white text-dark mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary">Set your preferences</h2>
        <hr class="star-dark mb-5">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="form-group">
                    <label>Project Name</label>
                    <input class="form-control form-control-lg" id="project-name" type="text" placeholder="Type your Project Name" required="required" data-validation-required-message="Please enter your project name.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8 mx-auto">
                Choose the <span class="badge badge-pill badge-primary">Architecture Style</span> below and set your preferences:
            </div>
        </div>


        <p></p>
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-hexagonal-tab" data-toggle="tab" href="#nav-hexagonal" role="tab" aria-controls="nav-hexagonal" aria-selected="true">Hexagonal</a>
                        <a class="nav-item nav-link" id="nav-clean-tab" data-toggle="tab" href="#nav-clean" role="tab" aria-controls="nav-clean" aria-selected="false">Clean</a>
                        <a class="nav-item nav-link" id="nav-eventsourcing-tab" data-toggle="tab" href="#nav-eventsourcing" role="tab" aria-controls="nav-eventsourcing" aria-selected="false">Event Sourcing</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show" id="nav-hexagonal" role="tabpanel" aria-labelledby="nav-hexagonal-tab">
                        <div class="card">
                            <h5 class="card-header" id="Name">Type Your Project Name</h5>
                            <div class="card-body">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="DataAccess">Data Access</label>
                                    </div>
                                    <select class="custom-select" id="DataAccess" name="DataAccess">
                                        <option selected>Data Access...</option>
                                        <option value="entityframework" selected>SQL Server with Entity Framework</option>
                                        <option value="dapper">SQL Server with Dapper</option>
                                        <option value="mongo">MongoDB</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="UseCases">Use Cases Sets</label>
                                    </div>
                                    <select class="custom-select" id="UseCases" name="UseCases">
                                        <option selected>Choose...</option>
                                        <option value="full" selected>Full writing and reading use cases</option>
                                        <option value="basic">One writing and one reading use cases</option>
                                        <option value="readonly">Only one reading use case</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeWebApi" name="IncludeWebApi" checked>
                                    <label class="custom-control-label" for="IncludeWebApi">Include Web API</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeDocumentation" name="IncludeDocumentation" checked>
                                    <label class="custom-control-label" for="IncludeDocumentation">Include Documentation</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="SkipRestore" name="SkipRestore">
                                    <label class="custom-control-label" for="SkipRestore">Restore Nuget Packages</label>
                                </div>


                            </div>
                            <div class="card-footer text-muted">
                                <div class="text-center mt-4">
                                    <a class="btn btn-primary" href="#" role="button" id="order">Order for Free!</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="nav-clean" role="tabpanel" aria-labelledby="nav-hexagonal-tab">


                        <div class="card">
                            <h5 class="card-header" id="Name">Type Your Project Name</h5>


                            <div class="card-body">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="DataAccess">Data Access</label>
                                    </div>
                                    <select class="custom-select" id="DataAccess" name="DataAccess">
                                        <option selected>Data Access...</option>
                                        <option value="entityframework" selected>SQL Server with Entity Framework</option>
                                        <option value="dapper">SQL Server with Dapper</option>
                                        <option value="mongo">MongoDB</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="UseCases">Use Cases Sets</label>
                                    </div>
                                    <select class="custom-select" id="UseCases" name="UseCases">
                                        <option selected>Choose...</option>
                                        <option value="full" selected>Full writing and reading use cases</option>
                                        <option value="basic">One writing and one reading use cases</option>
                                        <option value="readonly">Only one reading use case</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeWebApi" name="IncludeWebApi" checked>
                                    <label class="custom-control-label" for="IncludeWebApi">Include Web API</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeDocumentation" name="IncludeDocumentation" checked>
                                    <label class="custom-control-label" for="IncludeDocumentation">Include Documentation</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="SkipRestore" name="SkipRestore">
                                    <label class="custom-control-label" for="SkipRestore">Restore Nuget Packages</label>
                                </div>


                            </div>
                            <div class="card-footer text-muted">
                                <div class="text-center mt-4">
                                    <a class="btn btn-primary" href="#" role="button" id="order">Order for Free!</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-eventsourcing" role="tabpanel" aria-labelledby="nav-eventsourcing-tab">
                        <div class="card">
                            <h5 class="card-header" id="Name">Type Your Project Name</h5>
                            <div class="card card-body">


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="DataAccess">Data Access</label>
                                    </div>
                                    <select class="custom-select" id="DataAccess">
                                        <option selected>Data Access...</option>
                                        <option value="1" selected>SQL Server with Entity Framework</option>
                                        <option value="2">SQL Server with Dapper</option>
                                        <option value="3">MongoDB</option>
                                        <option value="4">None</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="UseCases">Use Cases Sets</label>
                                    </div>
                                    <select class="custom-select" id="UseCases">
                                        <option selected>Choose...</option>
                                        <option value="1" selected>Full writing and reading use cases</option>
                                        <option value="2">One writing and reading use cases</option>
                                        <option value="3">Only one reading use case</option>
                                        <option value="4">None</option>
                                    </select>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludServiceBus" checked>
                                    <label class="custom-control-label" for="IncludServiceBus">Include Service Bus Client</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeWebApi" checked>
                                    <label class="custom-control-label" for="IncludeWebApi">Include Web API</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="IncludeDocumentation" checked>
                                    <label class="custom-control-label" for="IncludeDocumentation">Include Documentation</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="SkipRestore">
                                    <label class="custom-control-label" for="SkipRestore">Restore Nuget Packages</label>
                                </div>


                            </div>
                            <div class="card-footer text-muted">
                                <div class="text-center mt-4">
                                    <a class="btn btn-primary" href="#" role="button" id="order">Order for Free!</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
</section>

<!-- Portfolio Grid Section -->
<section class="bg-primary mb-0" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-white mb-0">Architeture Styles</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/cake.png" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/circus.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>




