<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">{YourProjectName}</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Wait a few seconds while we generate your microservice...</h2>
    </div>
</header>
<!-- About Section -->
<section class="bg-white text-dark mb-0" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="mt-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Step</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="step1_Waiting">
                                <th scope="row" class="text-center"><span class="badge badge-success align-top">#1</span><span class="align-middle">Received</span></th>
                                <td style="text-align: left">
                                    <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> <pre>dotnet new --install "Paulovich.Caju"</pre>
                                </td>
                            </tr>
                            <tr id="step1_Ready" style="display: none">
                                <th scope="row" class="text-center"><span class="badge badge-success align-top">#1</span><span class="align-middle">Received</span></th>
                                <td style="text-align: left">
                                    <pre>dotnet new --install "Paulovich.Caju"</pre>
                                    <pre id="commandlines"></pre>
                                </td>
                            </tr>
                            <tr id="step2_Waiting">
                                <th scope="row" class="text-center"><span class="badge badge-info align-top">#2</span><br /><span class="align-middle">Output</span></th>
                                <td style="text-align: left">
                                    <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Waiting for available resources...
                                </td>
                            </tr>
                            <tr id="step2_Ready" style="display: none">
                                <th scope="row" class="text-center"><span class="badge badge-success align-top">#2</span><br><span class="align-middle">Output</span></th>
                                <td>
                                    <pre style="white-space: pre-wrap;overflow-y:scroll;height:200px;text-align: left" id="outputlines">$ dotnet new hexagonal
The template "Hexagonal Architecture for .NET Applications!" was created success                                              fully.

Processing post-creation actions...
Adding project reference(s) to solution file. Running dotnet sln E:\acerola\test                                              00\test00.sln add E:\acerola\test00\test00.Application/test00.Application.csproj                                               E:\acerola\test00\test00.Domain/test00.Domain.csproj E:\acerola\test00\test00.I                                              nfrastructure/test00.Infrastructure.csproj E:\acerola\test00\test00.WebApi/test0                                              0.WebApi.csproj
Successfully added
    project(s): E:\acerola\test00\test00.Application/test00.Application.csproj E:\acerola\test00\test00.Domain/test00.Domain.csproj E:\acerola\test00\test00.Infrastructure/test00.Infrastructure.csproj E:\acerola\test00\test00.WebApi/test00.WebApi.csproj
    to solution file: E:\acerola\test00\test00.sln

Running 'dotnet restore' on E:\acerola\test00\test00.Application/test00.Application.csproj...
  Restoring packages for E:\acerola\test00\test00.Application\test00.Application.csproj...
  Restoring packages for E:\acerola\test00\test00.Domain\test00.Domain.csproj...
  Generating MSBuild file E:\acerola\test00\test00.Domain\obj\test00.Domain.csproj.nuget.g.props.
  Generating MSBuild file E:\acerola\test00\test00.Application\obj\test00.Application.csproj.nuget.g.props.
  Generating MSBuild file E:\acerola\test00\test00.Application\obj\test00.Application.csproj.nuget.g.targets.
  Generating MSBuild file E:\acerola\test00\test00.Domain\obj\test00.Domain.csproj.nuget.g.targets.
  Restore completed in 225.26 ms for E:\acerola\test00\test00.Application\test00.Application.csproj.
  Restore completed in 225.25 ms for E:\acerola\test00\test00.Domain\test00.Domain.csproj.

Restore succeeded.
Running 'dotnet restore' on E:\acerola\test00\test00.Domain/test00.Domain.csproj...
  Restore completed in 27.4 ms for E:\acerola\test00\test00.Domain\test00.Domain.csproj.

Restore succeeded.
Running 'dotnet restore' on E:\acerola\test00\test00.Infrastructure/test00.Infrastructure.csproj...
  Restoring packages for E:\acerola\test00\test00.Infrastructure\test00.Infrastructure.csproj...
  Restore completed in 13.95 ms for E:\acerola\test00\test00.Domain\test00.Domain.csproj.
  Restore completed in 13.95 ms for E:\acerola\test00\test00.Application\test00.Application.csproj.
  Generating MSBuild file E:\acerola\test00\test00.Infrastructure\obj\test00.Infrastructure.csproj.nuget.g.props.
  Generating MSBuild file E:\acerola\test00\test00.Infrastructure\obj\test00.Infrastructure.csproj.nuget.g.targets.
  Restore completed in 1.8 sec for E:\acerola\test00\test00.Infrastructure\test00.Infrastructure.csproj.

Restore succeeded.
Running 'dotnet restore' on E:\acerola\test00\test00.WebApi/test00.WebApi.csproj...
  Restoring packages for E:\acerola\test00\test00.WebApi\test00.WebApi.csproj...
  Restore completed in 21.14 ms for E:\acerola\test00\test00.Application\test00.Application.csproj.
  Restore completed in 21.09 ms for E:\acerola\test00\test00.Domain\test00.Domain.csproj.
  Restore completed in 35.79 ms for E:\acerola\test00\test00.Infrastructure\test00.Infrastructure.csproj.
  Generating MSBuild file E:\acerola\test00\test00.WebApi\obj\test00.WebApi.csproj.nuget.g.props.
  Generating MSBuild file E:\acerola\test00\test00.WebApi\obj\test00.WebApi.csproj.nuget.g.targets.
  Restore completed in 4.55 sec for E:\acerola\test00\test00.WebApi\test00.WebApi.csproj.

Restore succeeded.
</pre>
                                </td>
                            </tr>
                            <tr id="step3_Waiting">
                                <th scope="row" class="text-center"><span class="badge badge-info align-top">#3</span><span class="align-middle">Download</span></th>
                                <td>
                                    <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> https://orders2caju.blob.core.windows.net/templates07a9f257-b90c-43b7-8f8f-9a46ce574289.zip
                                </td>
                            </tr>
                            <tr id="step3_Ready" style="display: none">
                                <th scope="row" class="text-center"><span class="badge badge-success align-top">#3</span><span class="align-middle">Download</span></th>
                                <td>
                                    <a href="https://orders2caju.blob.core.windows.net/templates07a9f257-b90c-43b7-8f8f-9a46ce574289.zip">https://orders2caju.blob.core.windows.net/templates07a9f257-b90c-43b7-8f8f-9a46ce574289.zip</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-4" id="downloadRow" style="display: none">
                    <a class="btn btn-xl btn-outline-primary" href="https://orders2caju.blob.core.windows.net/templates/4292731d-a8d6-4fe8-85ca-8f5f2df441ca.zip">
                        <i class="fa fa-download mr-2"></i>
                        Download Now!
                    </a>
                </div>
                <div class="col-lg-8 mx-auto">
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="alert alert-primary" role="alert">
                    <h5 class="alert-heading">If you want to go faster. Try running the step #1 in your local machine <span class="badge badge-primary">PRO Tip!</span></h5>
                </div>
            </div>

        </div>


    </div>
</section>

@section scripts {
    <script language="javascript">
        $(document).ready(function () {

            getTracking('fcc97717-c57f-4aef-a187-26a4f54f798f');

            setInterval(function () {
                getTracking('fcc97717-c57f-4aef-a187-26a4f54f798f')
            }, 3000);


            function getTracking(id) {

                var actionurl = 'http://grape.westus2.cloudapp.azure.com:8032/api/Orders/' + id;

                $.get(actionurl, function (data, status) {

                    if ($('#step1_Waiting').is(":visible")) {
                        $('#commandlines').text(data.commandLines);

                        $('#step3_Waiting a').attr("href", data.downloadUrl);
                        $('#downloadRow a').attr("href", data.downloadUrl);

                        $('#step1_Waiting').hide();
                        $('#step1_Ready').show();
                    }

                    if ($('#step2_Waiting').is(":visible")) {
                        if ((new Date(data.dotNetNewFinishedUtcDate)).getFullYear() >= 2018) {
                            $('#outputlines').text(data.dotNetNewOutput);
                            $('#step2_Waiting').hide();
                            $('#step2_Ready').show();
                        }
                    }

                    if ($('#step3_Waiting').is(":visible")) {
                        if ((new Date(data.uploadFinished)).getFullYear() >= 2018) {
                            $('#step3_Waiting').hide();
                            $('#step3_Ready').show();
                            $('#downloadRow').show();
                        }
                    }

                });
            }
        });

    </script>
}